@import "./reset.css";

:root {
  --gray1:lightgray;
  --gray2: gray;
  --main-border: 1px solid var(--gray1);
}
/* 
main > div:nth-child(odd){
  background-color: var(--gray1);
} */

.header__container {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  height: 2rem;
  align-items: center;
  border-bottom: var(--main-border);
}

/* profile */

.profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.profile__top{
  display: flex;
  margin-bottom: 1rem;
}

.profile__img {
  margin-right: 1rem;
}

.profile__img >img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: var(--main-border);
  padding: 3px;
}

.profile__right {
  display: flex;
  flex-direction: column;
  width:100%;
}

.profile__username {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile__btn > button {
  width: 100%;
  background-color: white;
  border: var(--main-border);
  padding: 0.3rem 0;
  border-radius: 5px;
}

/* story */

.story__container {
  padding: 1rem;
  display: flex;
  overflow: scroll;
}

.story__content {
  margin-right: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story__img > img{
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: var(--main-border);
  padding:3px;
}

/* content */
.content__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.content__photo >img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* footer */
header {
  position: sticky;
  top:0;
  background-color: white;
}

footer {
  position: sticky;
  bottom:0;
}





.footer__container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 0.5rem 0;
}

.footer__container > div {
  cursor: pointer;
}

.footer__item {
  font-size: 1.5rem;
}

.footer__image{
  height: 100%;
}

.footer__image > img {
  width: 24px;
  height: 24px;
  padding: 2px;
  border: var(--main-border);
  border-radius: 100%;
}